body{
background-image: url('../imagenes/imgbody.jpg');
background-size: 100%;
background-attachment: fixed;
background-repeat:no-repeat;
background-position: center;
margin:0;
padding:0;
}

.paginas {
    background-size: 100%;
    display: flex;
    background-color:rgb(19, 1, 43);

}


nav, table, tr {
    border-spacing: 50px;
    table-layout: fixed;
    border-collapse: separate;
    width: 100%;
     
}

tr, th{
    color: rgb(96, 252, 252) 

}

footer {
    font-family: sans-serif;
    background-image: url('../imagenes/imgfooter.jpg');
    background-size: 35%;
    background-attachment: static;
    background-position: center;
    color:white;
    padding:30px 0;
    width: 100%;
    
}