/*ASPECTO GENERALES*/

/*cuerpo general*/

body{
background-image: url('../imagenes/fondo.jpg'); 
background-size: cover;
background-attachment: fixed;
background-repeat:no-repeat;
font-size: 20px;
}

/*Aqui al pasar el cursor en las opciones de elección de la pagina pondra un fondo blanco*/

th:hover{
    background-color: rgb(87, 250, 250);
}

/*modificamos el logo*/

.logo{
    border: 3px solid black;
    border-color: aqua;
    border-radius: 60px;
    width: 9%;
}

/*Aqui creamos el estilo que va a tener nuestro circulo flotante por todas las paginas*/

.boton{
    width: 60px;
    height: 60px;
    border-radius: 180%;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: blueviolet;
    text-align: center;
    align-content: center;
    margin: 20px;
    color: aqua;
}    

/*encabezado alineado al centro*/

header{
    text-align: center;
}

/*pie de pagina*/

footer {
    font-family: sans-serif;
    background-image: url('../imagenes/imgfooter.jpg');
    background-size: cover;
    background-attachment: static;
    background-position: center;
    color:white;
    padding:30px;
    width: 97%;
      
}

/*interlineado de listas*/

ul, li{
    line-height: 35px;
    
}


/*tabla de navegación superior*/

body, nav, table, tr {
    border-spacing: 50px;
    border-collapse: collapse;
    width: 100.75%;
    margin: 0 0;   
}


/*ajuste de las tablas de navagacion superiores*/

.paginas {
    
    background-size: 100%;
    display: flex;
    background-color:rgb(19, 1, 43);

}




/*INDEX*/

/*añadido de bordes a cada lista, un display flex y un margen entre div*/

.tarjetas:nth-child(odd){
    background-color: rgb(222, 188, 222);
    border: 4px solid rgb(87, 250, 250);
    margin-left: 15px;
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
}

.tarjetas:nth-child(even){
    background-color: rgb(146, 238, 238);
    border: 4px solid rgb(247, 84, 247);
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 15px;
    position: relative;
}

/*Colocacion del video y audio e imagen*/

#imagen2{
    display: flex;
    position: absolute;
    right: 100px;
    top:20px;
}

.video{ 
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.audio{

    display:flex;
    margin-bottom: 25px;
    margin-top:15px;
    justify-content:center;
}

/*CATEGORIAS*/

/*Margen para que no quede pegado al filo de la pagina*/

.contenido{
    margin: 10px;
}

/*Contenido centrado y con margenes*/

.mismapagina{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;

}

/*Utilizamos la clase tarjetas del index para hacer el margen, el borde... */
/*Ponemos todo los titulos al centro*/

#titulo{
    text-align: center;
}

#subgenero{
    list-style-type: disc;
    margin: 10px;
    text-decoration: underline overline;
}



/*FORMULARIO*/
form{
    margin: 25px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
}



/*CIBER*/
.contenido{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 40px;
}

.mapas{
    justify-content: right;
    align-items: right;
    margin-bottom: 25px;
   
}

#imagen3{
    display: flex;
    position: absolute;
    right: 90px;
    top:270px;
}




/*TIENDAS GAMING*/
/*Añadimos las tarjetas*/

#imagen{
    display: flex;
    position: absolute;
    right: 100px;
    top:100px;
    
}

.tarjetas{
    position:relative;
    padding: 50px;
    margin: 20px;

}

#punto{
    list-style-type: disc;
    margin: 10px;
}
